//= require shared/bootstrap-generators
//= require_self

#error_explanation {
  border: 2px solid #C00;
  padding: 7px 7px 12px 7px;
  margin: 0 0 20px 0;
  background: #FEE;

  h2 {
    font-size: 18px;
  }
}
